# --- RENAME THIS FILE TO .env AND ADD YOUR PARAMETERS ---

GOOGLE_CLOUD_PROJECT="YOUR_PROJECT_ID"
GOOGLE_CLOUD_LOCATION="global"
GOOGLE_CLOUD_REGION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI=TRUE
STAGING_BUCKET="gs://YOUR_STAGING_BUCKET_FOR_AGENT_ENGINE_DEPLOYMENTS"
ARTIFACTS_BUCKET="YOUR_ARTIFACTS_BUCKET"
BIGQUERY_DATASET="YOUR_BIGQUERY_DATASET"
BIGQUERY_ASSET_TABLE="YOUR_BIGQUERY_TABLE"
GOOGLE_CLOUD_TASK_QUEUE_ID="YOUR_TASK_QUEUE_ID"
GOOGLE_CLOUD_RUN_URL="YOUR_CLOUD_RUN_URL"
GOOGLE_CLOUD_SERVICE_ACCOUNT_EMAIL="YOUR_CLOUD_SERVICE_ACCOUNT_EMAIL"